<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ely's Source</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Bootstrap -->
    <link rel="stylesheet" href="style.css">
    <link href="lib/fontawesome-5/css/all.css" rel="stylesheet"> <!--load all styles -->

</head>
<body>

<div id="app">  
	<!-- Header Start -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 px-md-4">
  		<a class="navbar-brand" href="#">Ely's source</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto mr-md-3">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Services</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Contact</a>
	      </li>
	    </ul>
	  </div>
       <a class="btn btn-outline-success " href="#">Sign up</a>
	</nav>
	<!-- Header End -->
    
   <div class="mt-0 mb-5 bg-img">
       <!--<img src="assets/descarga.jpg" class="d-block w-100" alt="..." style="max-height: 300px">-->
       <!-- Pricing Start -->
        <div class="princing-header p-3 mx-auto text-center text-white">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">Here you will find my work and experience in web development, take a look! ;) </p>
        </div>
        <!-- Pricing End -->
   </div>

      
    <div class="container">
                  
       <div class="card-deck text-center">
             <card-item v-for="card in cardContent" v-bind:key="card.id" v-bind:card="card"></card-item>
        </div>
        
        <div class="row my-5">
        <div class="col-md-6">
             <div class="card" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="assets/ely.jpg" class="card-img" style="max-height: 164px;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Ely Gabriel Errico Villarroel</h5>
                    <p class="card-text">PHP - Full Stack Developer, Web Designer and  Technology lover</p>
                    <p class="card-text oa" v-on:click="show = !show"><button class="btn btn-sm text-white float-right bg-purple">Know more</button></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <transition name="bounce">
        <div id="abilities" class="col-md-6"  v-if="show">
           <div class="card" id="frontend_skills">
               <div class="card-header">Frontend Skills</div>
               <div class="card-body">
               <h5 class="card-title">CSS</h5>
                <ul>
                        <li>Mobile First</li>
                        <li>Bootstrap 3 - 4</li>
                        <li>SASS</li>
                        <li>Javascript</li>
                        <li>JQuery</li>
                        <li>Vuejs</li>
                </ul>
                
                
                </div>
                <div class="card-footer">
                    <a id="next_skill" class="icon-button float-right"><small>(1/3) </small><i class="fas fa-arrow-right"></i></a>
                </div>
           </div> 
            <div class="card" id="backend_skills" style="display: none;">
               <div class="card-header">Backend Skills</div>
               <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat culpa explicabo nostrum, nesciunt minima quidem similique asperiores itaque, placeat, repudiandae neque quos voluptate ab. Earum non, tenetur provident fugit consequuntur.
                </div>
                <div class="card-footer">
                    <a id="next_skill_more" class="icon-button float-right"><small>(2/3) </small><i class="fas fa-arrow-right"></i></a>
                </div>
           </div>
         <div class="card" id="more_skills" style="display: none;">
               <div class="card-header">More Skills</div>
               <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat culpa explicabo nostrum, nesciunt minima quidem similique asperiores itaque, placeat, repudiandae neque quos voluptate ab. Earum non, tenetur provident fugit consequuntur.
                </div>
                <div class="card-footer">
                    <a id="next_skill_frontend" class="icon-button float-right"><small>(3/3) </small><i class="fas fa-arrow-right"></i></a>
                </div>
           </div>
           
        </div>
        </transition>
        </div>
        
        <!--<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>-->
    </div>
    
</div>
    
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--JQUERY -->
<script>
$( "#clickme" ).click(function() {
  $( "#abilities" ).toggle();
});
$( "#next_skill" ).click(function() {
  $( "#frontend_skills" ).toggle();
  $( "#backend_skills" ).toggle();
});
$( "#next_skill_more" ).click(function() {
  $( "#backend_skills" ).toggle();
  $( "#more_skills" ).toggle();
});
$( "#next_skill_frontend" ).click(function() {
  $( "#more_skills" ).toggle();
  $( "#frontend_skills" ).toggle();
});
</script>
<!--JQUERY END-->
<!-- Vue -->
<script>
    Vue.component('card-item', {
      props: ['card'],
      template: `<div class="card text-white bg-blue mb-3" :class="card.bgColor">
                  <div class="card-header">{{card.title}}</div>
                  <div class="card-body">
                    <h5 class="card-title">{{card.secondTitle}}</h5>
                    <p class="card-text">{{card.description}}</p>
                  </div>
                  <div class="">
                      <a :href="card.link" class="btn mx-auto btn-md btn-block bg-light">Know more</a>
                    </div>
                </div>`
    });
    
     var data = {
          show: false,
          cardContent: [
            
              {id: 1, title: 'Web Design', secondTitle: 'Secondary card title', description: 'Some quick example text to build on the card title and make up the bulk of the cards content.', bgColor: 'bg-blue', link:'design'},
            
              {id: 2, title: 'Frontend Development', secondTitle: 'Secondary card title', description: 'Some quick example text to build on the card title and make up the bulk of the cards content.', bgColor: 'bg-purple', link:'frontend'},
              
              {id: 3, title: 'Backend Development & SQL', secondTitle: 'Secondary card title', description: 'Some quick example text to build on the card title and make up the bulk of the cards content.', bgColor: 'bg-blue', link:'backend'},
          ]
    }
    
    var app = new Vue({
      el: '#app',
      data: data,   
    })
</script>
</body>
</html>